
.qrcode{
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.qrcode-text {
    text-align: center;
}
.qrcode img{
    margin: 0 auto;
}
.dashboard-QR-inner {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.dashboard-QR {
    padding: 20px;
    background-color: #b5b3ad;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    height: 400px;
}
.print-qr {
    margin-top: 50px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(102, 156, 21);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}
.dashboard-container {
    height: 100vh;
    width: 100%;
    background-color: #F8F7F3;
}
.dashboard-header {
    height: 10vh;
    width: 100%;
    background-color: #dfded8;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
}

.dashboard-header > img {
    width: 150px;
}

.dashboard-inner {
    display: flex;
    flex-direction: row;
}
.dashboard-sidebar {
    width:  25%;
    height: 90vh;
    background-color: #dfded8;
    border-right: 1px solid gray;

}

.dashboard-sidebar-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-rows: auto;
    height: max-content;
    width: 100%;
    margin-top: 5vh;
}

.sidebar-item {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    padding: 20px;

    border-top: 1px solid gray;
    cursor: pointer;
}

.sidebar-item:last-child {
    border-bottom: 1px solid gray;
}
.sidebar-item > i {
    margin-right: 3vh;
}

.dashboard-sidebar-title {
    text-align: center;
    margin-top: 5vh;
}

.dashboard-home-flex {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboard-home {
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}
.oefeningen-count {
    width: 90%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
    background-color: #dfded8;
    color: black;
    border-radius: 15px;
}

.oefening-count {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 5px;  
}
.gebruiker-count {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 5px;  
}
.prestaties-count {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 5px;  
}
.loginname {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 5px;  
}

.dashboard-oefeningen {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.dashboard-gebruikers {
    width: 100%;
    height: 90%;

    display: flex;
    flex-direction: column;  
    align-items: center;
}

.dashboard-prestaties {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;  
    align-items: center;
}
.tabel
{
    width: 90%;
    border-radius: 10px;
    margin: 30px;
}
.tabel > tr > td
{
    padding: 20px;
    text-align: center;
    border: none;
    border-right: 1px solid black;
}
.tabel > tr > th
{
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: large;
    background-color: #b5b3ad;
}
.tabel-prestaties
{
    width: 90%;
    border-radius: 10px;
    margin: 30px;
}
.tabel-prestaties > tr > td
{
    padding: 20px;
    text-align: center;
    border: none;
    border-right: 1px solid black;
}
.tabel-prestaties > tr > th
{
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: large;
    background-color: #b5b3ad;
}
.dashboard-oefeningen-grid {
    width: 90%;
    height: 75vh;
    margin-top: 5vh;


    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;   
    overflow: scroll;
}

.dashboard-oefeningen-grid::-webkit-scrollbar {
    display: none;
}

.dashboard-oefeningen-grid::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;

}

.exercise-item {
    width: 350px;
    height: 250px;
    background-color: rgba(74, 71, 71, .4);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
}

.exercise-item > img {
    width: 100%;
    height: 50%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    aspect-ratio: 1/1;
}

.exercise-title {
    font-size: 1.2rem;
    padding: 5px;
}

.exercise-description {
    font-size: .8rem;
    margin-top: 5px;
    margin-left: 5px;
    overflow: scroll;
    overflow-x: hidden;
    height: 5vh;
}


.exercise-description::-webkit-scrollbar {
    border: 1px solid gray;
    border-radius: 5px;
}

.exercise-description::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;

}


.exercise-btn-container {
    width: 100%;
    

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.exercise-btn {
    padding: 10px 15px;
    margin: 5px;
    border-radius: 10px;
    font-size: 13px;
}

.delete-btn {
    background-color: red;
}
.QR-btn {
    background-color: rgb(138, 138, 138);
}
.edit-btn {
    background-color: rgb(10, 128, 240);
}
.logout-btn {
    background-color: rgba(236, 96, 74, 0.878);
    padding: 10px;
    border-radius: 10px;
    width: 25vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}
.logout-btn > a {
    text-decoration: none;
    color: black;
}

.exercise-detail-container {
    padding: 10px;
}



.dashboard-edit-oefening {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard-edit-inner {
    width: 40%;
    height: 70%;
    background-color: rgba(74, 71, 71, .4);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
}

.dashboard-edit-inner > img {
    width: 100%;
    height: 50%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    aspect-ratio: 1/1;
}

.dashboard-edit-inner-title {
    font-size: 1.2rem;
    padding: 5px;
    border: none;
    background: transparent;
}

.dashboard-edit-title {
    font-size: 1.5rem;
    margin: 10px;
    font-weight: bold;
}


.dashboard-edit-inner-title {
    font-size: 1.2rem;
    padding: 5px;
}

.dashboard-edit-inner-description {
    font-size: .8rem;
    margin-top: 5px;
    margin-left: 5px;
    overflow: scroll;
    overflow-x: hidden;
    height: 10vh;

    background-color: transparent;
    border: none;
}


.dashboard-edit-inner-description::-webkit-scrollbar {
    border: 1px solid gray;
    border-radius: 5px;
}

.dashboard-edit-inner-description::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;

}


.dashboard-edit-inner-btn-container {
    width: 100%;
    

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dashboard-edit-inner-btn {
    padding: 10px 15px;
    margin: 5px;
    border-radius: 10px;
    font-size: 15px;
}

.dashboard-create-oefening {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.dashboard-create-inner {
    width: 40%;
    height: 70%;
    background-color: rgba(74, 71, 71, .4);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
}

.dashboard-create-inner > img {
    width: 100%;
    height: 50%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    aspect-ratio: 1/1;
}

.dashboard-create-title {
    font-size: 1.5rem;
    margin: 10px;
    font-weight: bold;
}

.dashboard-create-inner-title {
    height: 4vw;
    margin: 3px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 3vw;
    
    background-color: white;
    border: black solid 2px;
    border-radius: 10px;
    text-align: center;
}

.dashboard-create-inner-description {
    height: 10vw;
    margin: 3px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    border: black solid 2px;
    border-radius: 10px;
    text-align: center;
    overflow: scroll;
    overflow-x: hidden;
    resize: none;
}

.dashboard-create-inner-url {
    height: 4vw;
    margin: 3px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    border: black solid 2px;
    border-radius: 10px;
    text-align: center;

}

.dashboard-create-createbtn
{
    margin-top: 20px;
    background-color: rgb(70, 255, 70);
    border-radius: 10px;
    padding: 20px;
    width: 20vw;
    text-align: center;
}

.delete-btn {
    background-color: red;
}
.edit-btn {
    background-color: rgb(10, 128, 240);
}
.create-btn {
    background-color: rgb(35, 207, 0);
    border-radius: 20px;
    border: none;
    width: 20vw;
    height: 50px;
}


.dashboard-edit-inner-detail-container {
    padding: 10px;
}

.dashboard-edit-editbtn {
    margin-top: 5vh;
    padding: 10px 15px;
    background-color: rgb(0, 153, 255);
    border-radius: 10px;
}


.add-user-btn {
    padding: 10px;
    background-color: rgb(12, 213, 12);
    border-radius: 10px;
    color: white;
}

.dashboard-add-gebruikers {
    width: 100%;

    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
}
.dashboard-add-prestaties {
    width: 100%;

    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
}


.dashboard-edit-gebruikers {
    width: 100%;

    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
}
.dashboard-edit-prestaties {
    width: 100%;

    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
}
.dashboard-add-container {
    width: 75vh;
    height: 70vh;
    background-color: #b5b3ad;
    border-radius: 5px;
}

.dashboard-add-title {
    width: 100%;
    text-align: center;
    margin: 10px;
    font-size: 1.3rem;
    font-weight: bold;
}

.add-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    height: max-content;
    margin: 15px;
    margin-top: 15px;
}

.add-btn-user {
    background-color: dodgerblue;
    text-align: center;
    margin: 15px;
    width: 95%;
    padding: 5px 0px;
    border-radius: 5px;
}